# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Django
*.log
db.sqlite3
media/

# Docker
.dockerignore

# Environment variables
.env

# VS Code / Cursor
.vscode/

# Mac
.DS_Store